<div class="top-title">
  <%= @investor.name %>

</div>

<div class="about-accountable">
Favorite Ideas:
  <% @investor.ideas.each do |idea| %>
    <div class="index-list">
      Idea: <%= idea.title %><br>
      Inventor: <%= idea.inventor.name %><br>
      <%= link_to "Add Note", edit_investor_idea_favorite_path(@investor, idea, idea) %>
    </div>
  <% end %>  

</div>