<div class="top-title">
 <center>
    Types <br>
    of <br>
    Inventions
  </center>
</div>

<div class="about-accountable">

  <div class="index-list">
    Inventions are of three kinds: scientific-technological (including medicine), sociopolitical (including economics and law), and humanistic, or cultural.
  </div>
  
  <div class="index-list" >
  <center>
    <%= image_tag("anatomy-invent.jpg", style:'width:69%') %>
  </center>  
  </div>

  <div class="index-list">
    Scientific-technological inventions include railroads, aviation, vaccination, hybridization, antibiotics, astronautics, holography, the atomic bomb, computing, the Internet, and the smartphone.
  </div>
  
  <div class="index-list">
    Sociopolitical inventions comprise new laws, institutions, and procedures that change modes of social behavior and establish new forms of human interaction and organization. Examples include the British Parliament, the US Constitution, the Manchester (UK) General Union of Trades, the Boy Scouts, the Red Cross, the Olympic Games, the United Nations, the European Union, and the Universal Declaration of Human Rights, as well as movements such as socialism, Zionism, suffragism, feminism, and animal-rights veganism.
  </div>
  
  <div class="index-list">
    Humanistic inventions encompass culture in its entirety and are as transformative and important as any in the sciences, although people tend to take them for granted. In the domain of linguistics, for example, many alphabets have been inventions, as are all neologisms (Shakespeare invented about 1,700 words). Literary inventions include the epic, tragedy, comedy, the novel, the sonnet, the Renaissance, neoclassicism, Romanticism, Symbolism, Aestheticism, Socialist Realism, Surrealism, postmodernism, and (according to Freud) psychoanalysis. Among the inventions of artists and musicians are oil painting, printmaking, photography, cinema, musical tonality, atonality, jazz, rock, opera, and the symphony orchestra. Philosophers have invented logic (several times), dialectics, idealism, materialism, utopia, anarchism, semiotics, phenomenology, behaviorism, positivism, pragmatism, and deconstruction. Religious thinkers are responsible for such inventions as monotheism, pantheism, Methodism, Mormonism, iconoclasm, puritanism, deism, secularism, ecumenism, and Baha’i. Some of these disciplines, genres, and trends may seem to have existed eternally or to have emerged spontaneously of their own accord, but most of them have had inventors.
  </div>

</div>