  <div class="index-list">Located in: <%= user.location %></div>

  <div class="index-list">About me: <%= user.bio %></div>

  <div class="index-list"><%= mail_to(user.account.email, "Contact by Email") %></div>