  <div class="index-list">Located in: <%= user.location %></div>

  <div class="index-list">About me: <%= user.bio %></div>

  <div class="index-list">Contact <%= user.name %>: <%= user.account.email %></div>