<div class="top-title">
  All Inventors
</div>
<div class="about-accountable">
  <% @inventors.each do |inventor| %>
    <div class="index-list"><%= link_to inventor.name, inventor_path(inventor) %></div>
  <% end %>
</div>