/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');


 .nav-bar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  align-self: flex-start;
  align-items: center;
  height: 42px;
  width: 100%;
  position: fixed;
  border-bottom: 3.5px solid navy;
  z-index: 1;
 }

 .nav-image-link {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
 }

 .nav-link {
   margin: 40px;
   font-size: 18px;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
 }

 .nav-link:hover {
   color: navy;
 }

 /* html,  */
 body {
   margin: 0px;
 }
   /* height: 100%; */

   /* background: url("silouette_interface.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: scroll;
        color: #082c6f;
    margin: 0px;

 }
  
 /* content renders yield from layout */

 .main-flex {
   display: flex;
   flex-direction: column;
   align-items: stretch;
 }

 .image-banner {
   height: 300px;
   background-image: url('silouette_interface.jpeg');
   left: 0px;
   right: 0px;
   width: 100%;
   overflow: hidden;
   /* font: white; */
   /* width: 100%; */
 }

 .project-brainstorm {
   font-size: 95px;
   color: white;
   margin: 35px;
   font-family: 'Rock Salt', cursive;
 }

 /* content rendered from yield on app layout */
 .content {
   display: grid;
   grid-column-gap: 75px;
   /* background-color: rgba(192, 192, 192, 0.9); */
   /* width: 75%; */
   grid-template-columns: 450px 900px;
   margin-left: 6%;
   margin-right: 15%;
   margin-top: 20px;
   justify-items: stretch;

   position: relative;
   
   min-height: 500px;
   /* min-width: 1000px; */
  
   padding: 18px;
 }

    .home-image {
   margin-left: 0;
   margin-right: 0;
   overflow: visible;
 }

 /* h1 header on pages */
 .top-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   min-width: 500px;
   
   margin-top: 20px;
   /* margin-left:  */
   /* justify-self: center; */
   border-top: 5px solid navy;
   background-color: gainsboro;
   font-family: Palatino;
   font-size: 50px;
}

 .dash-links {
   /* margin-top: 25px; */
   font-size: 22px;
 }

 
 /* whatever after the top title */
 .about-accountable {
   /* grid-column-start: 3;
   grid-column-end: 5; */
   overflow: hidden;
   max-width: 600px;
   border-top: 5px solid navy;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: left;
   margin-top: 20px;
   
   /* justify-content: center; */
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
 }

 .index-list {
  margin: 20px;
 }

 .about-2 {

 }

 /* inventor show page ideas list */
 .idea-list {
   margin-top: 40px;
 }

 .if-accountable {
   display: flex;
   justify-content: flex-end;
 }
